/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footerz {
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url(../images/wellwell/header.png);
    background-size: cover;
    background-position: center center;
}


@media (min-width: 550px) {  
.footerz {
    z-index: -1;
    width: 100%;
    height: 20em;
    background: url(../images/wellwell/header.png);
    background-size: cover;
    background-position: center center;
    }}

.footerz .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    text-align: center;
}

@media (min-width: 550px) {  
.footerz:hover .fade{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    text-align: center;
    }}

.footerz_title{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 1.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 30%;
    margin: auto;
}

.footerz_project{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 2.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 40%;
    margin: auto;
    margin-top: .25em;
    font-size: 2.1em;
    font-weight: 300;
}

@media (min-width: 550px) {  
.footerz_project{
    z-index: 2;
    position: absolute;
    width: 100%;
    line-height: 2.5em;
    color: #fff;
    background-color: transparent;
    opacity: 1;
    top: 45%;
    margin: auto;
    font-size: 2.4em;
    font-weight: 300;
    }}

/* Headers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Swish Swish
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.header_swishswish{
    width: 100%;
    height: 20em;
    background: url('../images/swishswish/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_swishswish {
    width: 100%;
    height: 45em;
    background: url('../images/swishswish/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}


/* Hotpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_hotpoints{
    width: 100%;
    height: 20em;
    background: url('../images/hotpoints/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_hotpoints{
    width: 100%;
    height: 45em;
    background: url('../images/hotpoints/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}


/* Instagram
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_instagram{
    width: 100%;
    height: 20em;
    background: url('../images/instagram/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_instagram{
    width: 100%;
    height: 45em;
    background: url('../images/instagram/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footer .instagram{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10em;
    background: url('../images/instagram/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footer .instagram{
    height: 20em;
    }
}


/* Nike NTC
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_nikentc{
    width: 100%;
    height: 20em;
    background: url('../images/nikentc/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_nikentc{
    width: 100%;
    height: 45em;
    background: url('../images/nikentc/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footer .nikentc{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 15em;
    background: url('../images/nikentc/header.jpg') rgb(0, 0, 0);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footer .nikentc{
    height: 20em;
    } 
    
}


/* Well Well
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_wellwell{
    width: 100%;
    height: 20em;
    background: url('../images/wellwell/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_wellwell{
    width: 100%;
    height: 45em;
    background: url('../images/wellwell/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}


/* Chomp
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_chomp{
    width: 100%;
    height: 20em;
    background: url('../images/chomp/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_chomp{
    width: 100%;
    height: 45em;
    background: url('../images/chomp/header.png') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

/* Facebook Paper
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_facebookpaper{
    width: 100%;
    height: 20em;
    background: url('../images/facebookpaper/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_facebookpaper{
    width: 100%;
    height: 45em;
    background: url('../images/facebookpaper/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

.footer .facebookpaper{
    position: absolute;
    z-index: -1;
    opacity: .25;
    width: 100%;
    height: 10em;
    background: url('../images/facebookpaper/header.jpg') rgb(0, 0, 0);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.footer .facebookpaper{
    height: 20em;
    }
.facebookpaper:hover {
    height: 20em;
    opacity: .5;
    }
}

/* Steven Taylor
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_steventaylor{
    width: 100%;
    height: 20em;
    background: url('../images/steventaylor/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_steventaylor{
    width: 100%;
    height: 45em;
    background: url('../images/steventaylor/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

/* Olderbrother
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_olderbrother{
    width: 100%;
    height: 20em;
    background: url('../images/olderbrother/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_olderbrother{
    width: 100%;
    height: 45em;
    background: url('../images/olderbrother/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

/* Fiction
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_fiction{
    width: 100%;
    height: 20em;
    background: url('../images/fiction/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_fiction{
    width: 100%;
    height: 45em;
    background: url('../images/fiction/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}

/* Fortune
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_fortune{
    width: 100%;
    height: 20em;
    background: url('../images/fortune/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_fortune{
    width: 100%;
    height: 45em;
    background: url('../images/fortune/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}


/* Facebook Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header_facebookhome{
    width: 100%;
    height: 20em;
    background: url('../images/facebookhome/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
}

@media (min-width: 550px) {  
.header_facebookhome{
    width: 100%;
    height: 45em;
    background: url('../images/facebookhome/header.jpg') rgb(222, 222, 222);
    background-size: cover;
    background-position: center center;
    }}
